In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dob-datasets/DOB_Violations_20240730.csv
/kaggle/input/dob-datasets/DOB_Complaints_Received_20240730.csv
/kaggle/input/complaint-expl/data.csv
/kaggle/input/newdob/DOB_Safety_Violations_20240730.csv

In [3]:
#violations = pd.read_csv("/kaggle/input/dob-datasets/DOB_Violations_20240730.csv")
complaints = pd.read_csv("/kaggle/input/dob-datasets/DOB_Complaints_Received_20240730.csv")
new_vio = pd.read_csv("/kaggle/input/newdob/DOB_Safety_Violations_20240730.csv")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
expl = pd.read_csv(r"/kaggle/input/complaint-expl/data.csv",encoding='unicode_escape')
#https://data.cityofnewyork.us/Housing-Development/DOB-Safety-Violations/855j-jady/about_data
#https://data.cityofnewyork.us/Housing-Development/DOB-Complaints-Received/eabe-havv/about_data

/tmp/ipykernel_34/1161010118.py:2: DtypeWarning: Columns (5,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv("/kaggle/input/dob-datasets/DOB_Complaints_Received_20240730.csv")

In [4]:
complaints.shape

(2871957, 15)

In [4]:
complaints.head()

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
0,1000008,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,3,MAN.,01/04/1989,I2,01/03/1989,2024-07-30
1,1000009,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,1,MAN.,01/04/1989,I2,01/04/1989,2024-07-30
2,4000001,CLOSED,01/03/1989,255-17,IOWA ROAD,11362,4171655,411,NaN,45,QNS.,02/21/1996,C2,03/27/1989,2024-07-30
3,1000017,CLOSED,01/03/1989,179,WEST BROADWAY,10013,1001966,101,NaN,31,MAN.,01/06/1989,I2,01/04/1989,2024-07-30
4,1000022,CLOSED,01/03/1989,133,EAST 22 STREET,10010,1086544,106,NaN,46,MAN.,01/06/1989,A1,01/04/1989,2024-07-30

In [4]:
complaints['full_add'] = complaints['House Number'] + " " + complaints['House Street']

In [5]:
column_to_check = 'full_add'

In [6]:
cols_to_drop = [
    'Inspection Date',
    'DOBRunDate', 'Disposition Date'
]

complaints.drop(columns=cols_to_drop, axis=1, inplace=True)

In [24]:
complaints.head()

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Code,full_add
0,1000008,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,3,MAN.,I2,101 1 AVENUE
1,1000009,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,1,MAN.,I2,101 1 AVENUE
2,4000001,CLOSED,01/03/1989,255-17,IOWA ROAD,11362,4171655,411,NaN,45,QNS.,C2,255-17 IOWA ROAD
3,1000017,CLOSED,01/03/1989,179,WEST BROADWAY,10013,1001966,101,NaN,31,MAN.,I2,179 WEST BROADWAY
4,1000022,CLOSED,01/03/1989,133,EAST 22 STREET,10010,1086544,106,NaN,46,MAN.,A1,133 EAST 22 STREET

In [6]:
complaints.isnull().sum()

Complaint Number            0
Status                      0
Date Entered                0
House Number               86
House Street                1
ZIP Code                23274
BIN                         0
Community Board           336
Special District      2856090
Complaint Category          0
Unit                      587
Disposition Code        14187
full_add                   86
dtype: int64

In [7]:
column_to_check = 'full_add'

complaints_cleaned  = complaints.dropna(subset=[column_to_check])

In [118]:
complaints_cleaned.isnull().sum()

Complaint Number            0
Status                      0
Date Entered                0
House Number                0
House Street                0
ZIP Code                23268
BIN                         0
Community Board           336
Special District      2856004
Complaint Category          0
Unit                      587
Disposition Code        14187
full_add                    0
dtype: int64

In [7]:
cols_to_drop = [
    'Disposition Code',
    'Unit', 'Community Board','Special District'
]

complaints_cleaned.drop(columns=cols_to_drop, axis=1, inplace=True)

/tmp/ipykernel_33/2734670552.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complaints_cleaned.drop(columns=cols_to_drop, axis=1, inplace=True)

In [40]:
complaints_cleaned.head()

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Complaint Category,full_add
0,1000008,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,3,101 1 AVENUE
1,1000009,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,1,101 1 AVENUE
2,4000001,CLOSED,01/03/1989,255-17,IOWA ROAD,11362,4171655,45,255-17 IOWA ROAD
3,1000017,CLOSED,01/03/1989,179,WEST BROADWAY,10013,1001966,31,179 WEST BROADWAY
4,1000022,CLOSED,01/03/1989,133,EAST 22 STREET,10010,1086544,46,133 EAST 22 STREET

In [46]:
new_vio.head()

,BIN,Violation Issue Date,Violation Number,Violation Type,Violation Remarks,Violation Status,Device Number,Device Type,Cycle End Date,Borough,Block,Lot,House Number,Street,City,State,Postcode,Latitude,Longitude,Community Board,Council District,BBL,Census Tract (2020),Neighborhood Tabulation Area (NTA) (2020)
0,3116942,01/06/2006,010606LL629112840,LL6291,NaN,Active,30000070181Y0001,Boiler,12/31/2005,Brooklyn,5091.0,7.0,803,ROGERS AVENUE,New York,New York,11226.0,40.651182,-73.952513,317.0,40.0,3.050910e+09,820.0,East Flatbush-Erasmus
1,4233155,03/01/2013,030113LBLVIO15727,LBLVIO,VIOLATION ISSUED FOR FAILURE TO FILE ANNUAL BO...,Active,40000054750N0001,Boiler,11/15/2011,Queens,10898.0,2.0,198-03,HOLLIS AVENUE,New York,New York,11412.0,40.706401,-73.759408,412.0,27.0,4.108980e+09,506.0,Hollis
2,3205018,06/20/2023,062023LBLVIO39206,LBLVIO,VIOLATION ISSUED-FAILURE TO FILE 2019 EXTERNAL...,Active,30000041009Y0001,Boiler,12/31/2019,Brooklyn,7463.0,49.0,1801,VOORHIES AVENUE,New York,New York,11235.0,40.586050,-73.950924,315.0,48.0,3.074630e+09,600.0,Sheepshead Bay-Manhattan Beach-Gerritsen Beach
3,4238340,01/06/2006,010606LL629122660,LL6291,NaN,Active,40000074513N0001,Boiler,12/31/2005,Queens,11066.0,1.0,194-15,LINDEN BOULEVARD,New York,New York,11412.0,40.693003,-73.757516,412.0,27.0,4.110660e+09,528.0,St. Albans
4,2021170,06/20/2023,062023LBLVIO31057,LBLVIO,VIOLATION ISSUED-FAILURE TO FILE 2019 EXTERNAL...,Active,20000164250N0001,Boiler,12/31/2019,Bronx,3510.0,29.0,486,HOWE AVENUE,New York,New York,10473.0,40.816277,-73.848467,209.0,18.0,2.035100e+09,84.0,Castle Hill-Unionport

In [8]:
new_vio['full_add'] = new_vio['House Number'] + " " + new_vio['Street']

In [9]:

common_values = pd.merge(complaints[[column_to_check]], new_vio[[column_to_check]], on=column_to_check)[column_to_check].unique()

len(common_values)

67182

In [10]:
new_vio.isnull().sum()

BIN                                               0
Violation Issue Date                              1
Violation Number                                  0
Violation Type                                    0
Violation Remarks                            232243
Violation Status                                  0
Device Number                                  1528
Device Type                                       0
Cycle End Date                                    8
Borough                                           0
Block                                          1958
Lot                                            1958
House Number                                      0
Street                                            0
City                                              0
State                                             0
Postcode                                        911
Latitude                                       1580
Longitude                                      1580
Community Board                                1580
Council District                               1580
BBL                                            9196
Census Tract (2020)                            1580
Neighborhood Tabulation Area (NTA) (2020)      1580
full_add                                          0
dtype: int64

In [9]:
cols_to_drop = [
    'Community Board',
    'Council District', 'Census Tract (2020)','Neighborhood Tabulation Area (NTA) (2020)','Block','Lot'
]

new_vio.drop(columns=cols_to_drop, axis=1, inplace=True)

In [10]:
cols_to_drop = [
    'BBL'
]

new_vio.drop(columns=cols_to_drop, axis=1, inplace=True)

In [54]:
new_vio.head()

,BIN,Violation Issue Date,Violation Number,Violation Type,Violation Remarks,Violation Status,Device Number,Device Type,Cycle End Date,Borough,House Number,Street,City,State,Postcode,Latitude,Longitude,full_add
0,3116942,01/06/2006,010606LL629112840,LL6291,NaN,Active,30000070181Y0001,Boiler,12/31/2005,Brooklyn,803,ROGERS AVENUE,New York,New York,11226.0,40.651182,-73.952513,803 ROGERS AVENUE
1,4233155,03/01/2013,030113LBLVIO15727,LBLVIO,VIOLATION ISSUED FOR FAILURE TO FILE ANNUAL BO...,Active,40000054750N0001,Boiler,11/15/2011,Queens,198-03,HOLLIS AVENUE,New York,New York,11412.0,40.706401,-73.759408,198-03 HOLLIS AVENUE
2,3205018,06/20/2023,062023LBLVIO39206,LBLVIO,VIOLATION ISSUED-FAILURE TO FILE 2019 EXTERNAL...,Active,30000041009Y0001,Boiler,12/31/2019,Brooklyn,1801,VOORHIES AVENUE,New York,New York,11235.0,40.586050,-73.950924,1801 VOORHIES AVENUE
3,4238340,01/06/2006,010606LL629122660,LL6291,NaN,Active,40000074513N0001,Boiler,12/31/2005,Queens,194-15,LINDEN BOULEVARD,New York,New York,11412.0,40.693003,-73.757516,194-15 LINDEN BOULEVARD
4,2021170,06/20/2023,062023LBLVIO31057,LBLVIO,VIOLATION ISSUED-FAILURE TO FILE 2019 EXTERNAL...,Active,20000164250N0001,Boiler,12/31/2019,Bronx,486,HOWE AVENUE,New York,New York,10473.0,40.816277,-73.848467,486 HOWE AVENUE

In [11]:
column_to_sum = 'Violation Status'

unique_values = new_vio[column_to_sum].unique()

# Calculate the sum of unique values
sum_unique_values = unique_values.sum()

In [11]:
grouped_sum = new_vio.groupby(['Violation Status', 'Device Type'])['Violation Number'].count().reset_index()


print(grouped_sum)

  Violation Status Device Type  Violation Number
0           Active      Boiler            331857
1           Active    Elevator            142991
2        Dismissed      Boiler             59401
3        Dismissed    Elevator             55584

In [72]:
new_vio.dtypes

BIN                       int64
Violation Issue Date     object
Violation Number         object
Violation Type           object
Violation Remarks        object
Violation Status         object
Device Number            object
Device Type              object
Cycle End Date           object
Borough                  object
House Number             object
Street                   object
City                     object
State                    object
Postcode                float64
Latitude                float64
Longitude               float64
full_add                 object
dtype: object

In [12]:
new_vio['Violation Issue Date'] = pd.to_datetime(new_vio['Violation Issue Date'])

# Extracting date components
new_vio['Year'] = new_vio['Violation Issue Date'].dt.year
new_vio['Month'] = new_vio['Violation Issue Date'].dt.month
new_vio['Day'] = new_vio['Violation Issue Date'].dt.day

In [74]:
new_vio.head()

,BIN,Violation Issue Date,Violation Number,Violation Type,Violation Remarks,Violation Status,Device Number,Device Type,Cycle End Date,Borough,House Number,Street,City,State,Postcode,Latitude,Longitude,full_add,Year,Month,Day
0,3116942,2006-01-06,010606LL629112840,LL6291,NaN,Active,30000070181Y0001,Boiler,12/31/2005,Brooklyn,803,ROGERS AVENUE,New York,New York,11226.0,40.651182,-73.952513,803 ROGERS AVENUE,2006.0,1.0,6.0
1,4233155,2013-03-01,030113LBLVIO15727,LBLVIO,VIOLATION ISSUED FOR FAILURE TO FILE ANNUAL BO...,Active,40000054750N0001,Boiler,11/15/2011,Queens,198-03,HOLLIS AVENUE,New York,New York,11412.0,40.706401,-73.759408,198-03 HOLLIS AVENUE,2013.0,3.0,1.0
2,3205018,2023-06-20,062023LBLVIO39206,LBLVIO,VIOLATION ISSUED-FAILURE TO FILE 2019 EXTERNAL...,Active,30000041009Y0001,Boiler,12/31/2019,Brooklyn,1801,VOORHIES AVENUE,New York,New York,11235.0,40.586050,-73.950924,1801 VOORHIES AVENUE,2023.0,6.0,20.0
3,4238340,2006-01-06,010606LL629122660,LL6291,NaN,Active,40000074513N0001,Boiler,12/31/2005,Queens,194-15,LINDEN BOULEVARD,New York,New York,11412.0,40.693003,-73.757516,194-15 LINDEN BOULEVARD,2006.0,1.0,6.0
4,2021170,2023-06-20,062023LBLVIO31057,LBLVIO,VIOLATION ISSUED-FAILURE TO FILE 2019 EXTERNAL...,Active,20000164250N0001,Boiler,12/31/2019,Bronx,486,HOWE AVENUE,New York,New York,10473.0,40.816277,-73.848467,486 HOWE AVENUE,2023.0,6.0,20.0

In [76]:
a_sum = new_vio.groupby(['Device Type', 'Borough'])['Violation Number'].count().reset_index()


print(a_sum)

  Device Type        Borough  Violation Number
0      Boiler          Bronx             46329
1      Boiler       Brooklyn            165297
2      Boiler      Manhattan             83427
3      Boiler         Queens             84895
4      Boiler  Staten Island             11310
5    Elevator          Bronx             23944
6    Elevator       Brooklyn             49272
7    Elevator      Manhattan             91031
8    Elevator         Queens             29603
9    Elevator  Staten Island              4725

In [81]:
y_sum = new_vio.groupby('full_add')['Violation Number'].count().reset_index()

In [82]:
y_sum.sort_values(by='Violation Number',ascending=False).head()

                 full_add  Violation Number
73863   71 EAST 42 STREET              1292
13146      140B 58 STREET               750
5369   114 EAST 87 STREET               615
81808   9-09 HAZEN STREET               591
36444  251 CLASSON AVENUE               540

In [83]:
complaints_cleaned.head()

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Complaint Category,full_add
0,1000008,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,3,101 1 AVENUE
1,1000009,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,1,101 1 AVENUE
2,4000001,CLOSED,01/03/1989,255-17,IOWA ROAD,11362,4171655,45,255-17 IOWA ROAD
3,1000017,CLOSED,01/03/1989,179,WEST BROADWAY,10013,1001966,31,179 WEST BROADWAY
4,1000022,CLOSED,01/03/1989,133,EAST 22 STREET,10010,1086544,46,133 EAST 22 STREET

In [85]:
column_to_sum = 'Status'

unique_values = complaints[column_to_sum].unique()

# Calculate the sum of unique values
sum_unique_values = unique_values.sum()

print(sum_unique_values)

CLOSEDACTIVE

In [13]:
complaints_cleaned['Date Entered'] = pd.to_datetime(complaints_cleaned['Date Entered'])

# Extracting date components
complaints_cleaned['Year'] = complaints_cleaned['Date Entered'].dt.year
complaints_cleaned['Month'] = complaints_cleaned['Date Entered'].dt.month
complaints_cleaned['Day'] = complaints_cleaned['Date Entered'].dt.day

/tmp/ipykernel_33/2690832439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complaints_cleaned['Date Entered'] = pd.to_datetime(complaints_cleaned['Date Entered'])
/tmp/ipykernel_33/2690832439.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complaints_cleaned['Year'] = complaints_cleaned['Date Entered'].dt.year
/tmp/ipykernel_33/2690832439.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complaints_cleaned['Month'] = complaints_cleaned['Date Entered'].dt.month
/tmp/ipykernel_33/2690832439.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complaints_cleaned['Day'] = complaints_cleaned['Date Entered'].dt.day

In [87]:
complaints_cleaned.head()

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Complaint Category,full_add,Year,Month,Day
0,1000008,CLOSED,1989-01-03,101,1 AVENUE,10003,1006289,3,101 1 AVENUE,1989,1,3
1,1000009,CLOSED,1989-01-03,101,1 AVENUE,10003,1006289,1,101 1 AVENUE,1989,1,3
2,4000001,CLOSED,1989-01-03,255-17,IOWA ROAD,11362,4171655,45,255-17 IOWA ROAD,1989,1,3
3,1000017,CLOSED,1989-01-03,179,WEST BROADWAY,10013,1001966,31,179 WEST BROADWAY,1989,1,3
4,1000022,CLOSED,1989-01-03,133,EAST 22 STREET,10010,1086544,46,133 EAST 22 STREET,1989,1,3

In [89]:
c_sum = complaints_cleaned.groupby('full_add')['Complaint Number'].count().reset_index()
c_sum.sort_values(by='Complaint Number',ascending=False).head()

                full_add  Complaint Number
49482   114-12 95 AVENUE              1276
49544   114-14 95 AVENUE              1179
279531     237 79 STREET              1137
643865  95-29 115 STREET              1000
644196  95-57 114 STREET               975

In [21]:
expl.head()

  CODE                  COMPLAINT CATEGORY DESCRIPTION PRIORITY
0    1               Accident -  Construction/Plumbing        A
1    3              Adjacent Buildings - Not Protected        A
2    4                      After Hours Work - Illegal        B
3    5           Permit - None (Building/PA/Demo etc.)        B
4    6  Construction - Change Grade/Change Watercourse        B

In [14]:
expl = expl.rename(columns={'CODE': 'Complaint Category'})

In [17]:
expl.head()

  Complaint Category                  COMPLAINT CATEGORY DESCRIPTION PRIORITY
0                  1               Accident -  Construction/Plumbing        A
1                  3              Adjacent Buildings - Not Protected        A
2                  4                      After Hours Work - Illegal        B
3                  5           Permit - None (Building/PA/Demo etc.)        B
4                  6  Construction - Change Grade/Change Watercourse        B

In [15]:
expl['Complaint Category'] = expl['Complaint Category'].astype(str)

In [39]:
unique_categories = complaints_cleaned['Complaint Category'].unique()
unique_categories

array([3, 1, 45, 31, 46, 99, 43, 53, 54, 29, 10, 66, 37, 41, 5, 9, 48, 11,
       28, 30, 39, 47, 32, 33, 38, 27, 40, 4, 55, 70, 56, 42, 15, 44, 35,
       67, 49, 36, 12, 97, 72, 71, 23, 14, 50, 51, 18, 20, 6, 65, 68, 69,
       52, 73, 24, 2, 16, 63, 74, 57, 62, 98, 7, 58, 64, 17, 8, 59, 25,
       22, 21, 96, 19, 34, 61, 13, 26, 60, 75, 76, 77, 85, 83, 78, 81, 84,
       80, 95, 86, 87, 82, 93, 91, 92, 88, 79, 89, 94, 90, '45', '58',
       '55', '30', '95', '63', '31', '59', '73', '05', '66', '36', '09',
       '49', '37', '29', '74', '84', '85', '99', '14', '10', '04', '53',
       '35', '83', '54', '67', '56', '71', '77', '32', '65', '86', '23',
       '21', '15', '80', '76', '70', '50', '12', '62', '20', '81', '18',
       '48', '01', '03', '90', '52', '88', '33', '43', '42', '39', '47',
       '11', '78', '68', '61', '07', '91', '89', '75', '06', '16', '41',
       '46', '3A', '5A', '97', '94', '92', '98', '4A', '51', '2A', '79',
       '87', '1A', '93', '82', '13', '1B', '4B', '1E', '5B', '1C', '1D',
       '4E', '1G', '2F', '2G', '2B', '2E', '2C', '3E', '2D', '4C', '4F',
       '6A', '3D', '4G', '1J', '3B', '4J', '4W', '3C', '1Z', '5C', '5F',
       '2K', '2J', '5G', '1K', '4M', '4K', '4L', '4N', '2L', '5D', '4D',
       '1H', '1F', '2M', '2H', '5H', '1L', '4S', '4H', '5E', '1X', '1Y',
       '6S', '1W', '6M', '1V', '7G', '7F', '6D', '6B', '6C', '8A', '3G',
       '1U', '3H', '5J', '6Z', '6X', '2N', '7J', '6Y', '6W', '6V', '7N',
       '22', '7K', '4X', '2P', '7L', '26', '4Q', '17', '24', '19', '27',
       '7P', '7Q', '8P', '2Y', '7S', '1N', '25', '7R', '28'], dtype=object)

In [16]:
complaints_cleaned['Complaint Category'] = complaints_cleaned['Complaint Category'].astype(str)

/tmp/ipykernel_33/3764400716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complaints_cleaned['Complaint Category'] = complaints_cleaned['Complaint Category'].astype(str)

In [20]:
complaints_cleaned.head()

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Complaint Category,full_add,Year,Month,Day
0,1000008,CLOSED,1989-01-03,101,1 AVENUE,10003,1006289,3,101 1 AVENUE,1989,1,3
1,1000009,CLOSED,1989-01-03,101,1 AVENUE,10003,1006289,1,101 1 AVENUE,1989,1,3
2,4000001,CLOSED,1989-01-03,255-17,IOWA ROAD,11362,4171655,45,255-17 IOWA ROAD,1989,1,3
3,1000017,CLOSED,1989-01-03,179,WEST BROADWAY,10013,1001966,31,179 WEST BROADWAY,1989,1,3
4,1000022,CLOSED,1989-01-03,133,EAST 22 STREET,10010,1086544,46,133 EAST 22 STREET,1989,1,3

In [17]:
df_combined = pd.merge(complaints_cleaned, expl, on='Complaint Category', how='left')

cols_to_drop = [
    'House Number','House Street'
]

df_combined.drop(columns=cols_to_drop, axis=1, inplace=True)


cols_to_drop = [
    'House Number','Street'
]

new_vio.drop(columns=cols_to_drop, axis=1, inplace=True)

In [32]:
new_vio.head()

,BIN,Violation Issue Date,Violation Number,Violation Type,Violation Remarks,Violation Status,Device Number,Device Type,Cycle End Date,Borough,City,State,Postcode,Latitude,Longitude,full_add,Year,Month,Day
0,3116942,2006-01-06,010606LL629112840,LL6291,NaN,Active,30000070181Y0001,Boiler,12/31/2005,Brooklyn,New York,New York,11226.0,40.651182,-73.952513,803 ROGERS AVENUE,2006.0,1.0,6.0
1,4233155,2013-03-01,030113LBLVIO15727,LBLVIO,VIOLATION ISSUED FOR FAILURE TO FILE ANNUAL BO...,Active,40000054750N0001,Boiler,11/15/2011,Queens,New York,New York,11412.0,40.706401,-73.759408,198-03 HOLLIS AVENUE,2013.0,3.0,1.0
2,3205018,2023-06-20,062023LBLVIO39206,LBLVIO,VIOLATION ISSUED-FAILURE TO FILE 2019 EXTERNAL...,Active,30000041009Y0001,Boiler,12/31/2019,Brooklyn,New York,New York,11235.0,40.586050,-73.950924,1801 VOORHIES AVENUE,2023.0,6.0,20.0
3,4238340,2006-01-06,010606LL629122660,LL6291,NaN,Active,40000074513N0001,Boiler,12/31/2005,Queens,New York,New York,11412.0,40.693003,-73.757516,194-15 LINDEN BOULEVARD,2006.0,1.0,6.0
4,2021170,2023-06-20,062023LBLVIO31057,LBLVIO,VIOLATION ISSUED-FAILURE TO FILE 2019 EXTERNAL...,Active,20000164250N0001,Boiler,12/31/2019,Bronx,New York,New York,10473.0,40.816277,-73.848467,486 HOWE AVENUE,2023.0,6.0,20.0

In [18]:
new_vio['full_add'] = new_vio['full_add'].astype(str)

In [87]:
test_input = input('Enter Address: ').strip()

# Check if the input address is in the 'full_add' column (case insensitive)
matching_rows = new_vio[new_vio['full_add'].str.lower() == test_input.lower()]

# Print the matching rows if any, otherwise print a message
if not matching_rows.empty:
    matching_df = pd.DataFrame(matching_rows)
    #print(matching_rows)
    
else:
    print("Address not found.")

Enter Address:  803 ROGERS AVENUE

In [20]:
new_vio_test = new_vio.copy()

In [21]:
new_vio_test['Violation Remarks'] = new_vio_test['Violation Remarks'].astype(str)

In [60]:
def summarize_text(text):
    if pd.isna(text) or text == 'nan':
        print("Violation summary not provided")
        return "Violation summary not provided"
  
    input_length = len(text.split())
    max_length = max(10, int(input_length * 0.8))
    min_length = min(5, int(input_length * 0.4))

    summary = summarizer(text, max_length=max_length, min_length=min_length, do_sample=False)
    return summary[0]['summary_text']


# Apply the summarization function to the 'text' column
#matching_df = matching_df.head(5)
new_vio_test['summary'] = matching_df['Violation Remarks'].apply(summarize_text)

#print(new_vio_test)
#summarize_text(matching_df['Violation Remarks'])

Violation summary not provided
Violation summary not provided
Violation summary not provided

/tmp/ipykernel_33/1745837459.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_df['summary'] = matching_df['Violation Remarks'].apply(summarize_text)

In [22]:
new_vio_test['Violation Remarks'] = new_vio_test['Violation Remarks'].str.lower()

In [96]:
new_vio_test.head(5)

,BIN,Violation Issue Date,Violation Number,Violation Type,Violation Remarks,Violation Status,Device Number,Device Type,Cycle End Date,Borough,City,State,Postcode,Latitude,Longitude,full_add,Year,Month,Day
0,3116942,2006-01-06,010606LL629112840,LL6291,NaN,Active,30000070181Y0001,Boiler,12/31/2005,Brooklyn,New York,New York,11226.0,40.651182,-73.952513,803 ROGERS AVENUE,2006.0,1.0,6.0
1,4233155,2013-03-01,030113LBLVIO15727,LBLVIO,violation issued for failure to file annual bo...,Active,40000054750N0001,Boiler,11/15/2011,Queens,New York,New York,11412.0,40.706401,-73.759408,198-03 HOLLIS AVENUE,2013.0,3.0,1.0
2,3205018,2023-06-20,062023LBLVIO39206,LBLVIO,violation issued-failure to file 2019 external...,Active,30000041009Y0001,Boiler,12/31/2019,Brooklyn,New York,New York,11235.0,40.586050,-73.950924,1801 VOORHIES AVENUE,2023.0,6.0,20.0
3,4238340,2006-01-06,010606LL629122660,LL6291,NaN,Active,40000074513N0001,Boiler,12/31/2005,Queens,New York,New York,11412.0,40.693003,-73.757516,194-15 LINDEN BOULEVARD,2006.0,1.0,6.0
4,2021170,2023-06-20,062023LBLVIO31057,LBLVIO,violation issued-failure to file 2019 external...,Active,20000164250N0001,Boiler,12/31/2019,Bronx,New York,New York,10473.0,40.816277,-73.848467,486 HOWE AVENUE,2023.0,6.0,20.0

In [23]:
new_vio_test['Violation Remarks'] = new_vio_test['Violation Remarks'].astype(str)

In [101]:
new_vio_test.dtypes

BIN                              int64
Violation Issue Date    datetime64[ns]
Violation Number                object
Violation Type                  object
Violation Remarks               object
Violation Status                object
Device Number                   object
Device Type                     object
Cycle End Date                  object
Borough                         object
City                            object
State                           object
Postcode                       float64
Latitude                       float64
Longitude                      float64
full_add                        object
Year                           float64
Month                          float64
Day                            float64
dtype: object

In [24]:
new_vio_test['Violation Remarks'] = new_vio_test['Violation Remarks'].fillna("Violation Remarks not provided")

In [25]:
new_vio_test['Violation Remarks'] = new_vio_test['Violation Remarks'].astype(str)

In [26]:
def remove_value(column):
    # Replace the specified strings with an empty string
    column = column.str.replace('violation issued for ', '', case=False, regex=False)
    column = column.str.replace('violation issued- ', '', case=False, regex=False)
    column = column.str.replace('violation issued-', '', case=False, regex=False)
    column = column.str.replace('violation issued ', '', case=False, regex=False)
    return column

new_vio_test['cleaned_comments'] = remove_value(new_vio_test['Violation Remarks'])

# Display the DataFrame
new_vio_test.head(20)

,BIN,Violation Issue Date,Violation Number,Violation Type,Violation Remarks,Violation Status,Device Number,Device Type,Cycle End Date,Borough,City,State,Postcode,Latitude,Longitude,full_add,Year,Month,Day,cleaned_comments
0,3116942,2006-01-06,010606LL629112840,LL6291,nan,Active,30000070181Y0001,Boiler,12/31/2005,Brooklyn,New York,New York,11226.0,40.651182,-73.952513,803 ROGERS AVENUE,2006.0,1.0,6.0,nan
1,4233155,2013-03-01,030113LBLVIO15727,LBLVIO,violation issued for failure to file annual bo...,Active,40000054750N0001,Boiler,11/15/2011,Queens,New York,New York,11412.0,40.706401,-73.759408,198-03 HOLLIS AVENUE,2013.0,3.0,1.0,failure to file annual boiler 2011 inspection ...
2,3205018,2023-06-20,062023LBLVIO39206,LBLVIO,violation issued-failure to file 2019 external...,Active,30000041009Y0001,Boiler,12/31/2019,Brooklyn,New York,New York,11235.0,40.586050,-73.950924,1801 VOORHIES AVENUE,2023.0,6.0,20.0,failure to file 2019 external low pressure ins...
3,4238340,2006-01-06,010606LL629122660,LL6291,nan,Active,40000074513N0001,Boiler,12/31/2005,Queens,New York,New York,11412.0,40.693003,-73.757516,194-15 LINDEN BOULEVARD,2006.0,1.0,6.0,nan
4,2021170,2023-06-20,062023LBLVIO31057,LBLVIO,violation issued-failure to file 2019 external...,Active,20000164250N0001,Boiler,12/31/2019,Bronx,New York,New York,10473.0,40.816277,-73.848467,486 HOWE AVENUE,2023.0,6.0,20.0,failure to file 2019 external low pressure ins...
5,2047876,2019-11-08,110819LBLVIO03726,LBLVIO,violation issued for failure to file annual bo...,Active,20000011757Y0001,Boiler,12/31/2017,Bronx,New York,New York,10462.0,40.850287,-73.868588,1980 UNIONPORT ROAD,2019.0,11.0,8.0,failure to file annual boiler 2017 inspection ...
6,1087701,2023-10-23,VIO-FTC-VT-CAT1-202112-0004936,FTC-VT-CAT1-CO,violation issued-failure to file 2021 cat1 tes...,Active,1E20710,Elevator,12/31/2021,Manhattan,New York,New York,10011.0,40.739609,-73.995211,605 6 AVENUE,2023.0,10.0,23.0,failure to file 2021 cat1 test affirmation of ...
7,2056241,2015-10-01,100115LBLVIO04018,LBLVIO,violation issued for failure to file annual bo...,Active,20000064145N0001,Boiler,12/31/2014,Bronx,New York,New York,10467.0,40.872136,-73.867123,3234 WHITE PLAINS ROAD,2015.0,10.0,1.0,failure to file annual boiler 2014 inspection ...
8,1081110,2023-10-23,VIO-FTC-VT-CAT1-202212-0008409,FTC-VT-CAT1-HA,violation issued-failure to file 2022 cat1 tes...,Dismissed,1P22202,Elevator,12/31/2022,Manhattan,New York,New York,10037.0,40.811250,-73.938718,2175 5 AVENUE,2023.0,10.0,23.0,failure to file 2022 cat1 test affirmation of ...
9,3222189,2023-08-11,VIO-FTF-VT-CAT1-202112-0005420,FTF-VT-CAT1-CO,violation issued-failure to file 2021 cat1 tes...,Active,3F5109,Elevator,12/31/2021,Brooklyn,New York,New York,11236.0,40.644489,-73.919935,1370 RALPH AVENUE,2023.0,8.0,11.0,failure to file 2021 cat1 test report
10,3251103,2017-02-24,022417LBLVIO12297,LBLVIO,violation issued for failure to file annual bo...,Active,30000943518Y0001,Boiler,12/31/2015,Brooklyn,New York,New York,11225.0,40.662824,-73.955874,149 STERLING STREET,2017.0,2.0,24.0,failure to file annual boiler 2015 inspection ...
11,3090131,2020-01-17,011720LBLVIO02454,LBLVIO,violation issued for failure to file annual bo...,Active,30000935485Y0002,Boiler,12/31/2017,Brooklyn,New York,New York,11208.0,40.668070,-73.882547,973 DUMONT AVENUE,2020.0,1.0,17.0,failure to file annual boiler 2017 inspection ...
12,1088829,2023-08-11,VIO-FTF-VT-CAT1-202012-0003493,FTF-VT-CAT1-CO,violation issued-failure to file 2020 cat1 tes...,Active,1W6959,Elevator,12/31/2020,Manhattan,New York,New York,10027.0,40.806566,-73.942598,5 WEST 125 STREET,2023.0,8.0,11.0,failure to file 2020 cat1 test report
13,1001268,2019-11-08,110819LBLVIO01754,LBLVIO,violation issued for failure to file annual bo...,Active,10000077114Y0001,Boiler,12/31/2017,Manhattan,New York,New York,10038.0,40.710185,-74.005829,165 WILLIAM STREET,2019.0,11.0,8.0,failure to file annual boiler 2017 inspection ...
14,1007573,2023-10-23,VIO-FTC-VT-CAT1-202212-0009290,FTC-VT-CAT1-CO,violation issued-failure to file 2022 cat1 tes...,Active,1P37331,Elevator,12/31/2022,Manhattan,New York,New York,10012.0,40.724013,-73.997987,565 BROADWAY,2023.0,10.0,23.0,failure to file 2022 cat1 test affirmation of ...
15,3325161,2023-08-25,VIO-FTF-VT-PER-202212-0001295,FTF-VT-PER-CO,violation issued-failure to file 2022 periodic...,Active,3P11077,Elevator,12/31/2022,Brooklyn,New York,New York,11215.0,40.663419,-73.989320,277 PROSPECT AVE,2023.0,8.0,25.0,failure to file 2022 periodic inspection report
16,1008820,2023-11-14,VIO-FTC-BE-EXT-201812-0002533,FTC-BE-EXT-LP,violation issued-failure to file 2018 external...,Active,10000164089N0001,Boiler,12/31/2018,Manhattan,New York,New York,10003.0,40.730540,-73.995706,100 WASHINGTON SQUARE EAST,2023.0,11.0,14.0,failure to file 2018 external inspection affir...
17,3041310,2008-01-03,010308LL629111761,LL6291,nan,Active,30000060460Y0001,Boiler,12/31/2007,Brooklyn,New York,New York,11233.0,40.681511,-73.913217,400 MARION STREET,2008.0,1.0,3.0,nan
18,2041832,2023-06-20,062023LBLVIO29396,LBLVIO,violation issued-failure to file 2019 external...,Active,20000058760Y0001,Boiler,12/31/2019,Bronx,New York,New York,10461.0,40.840534,-73.847573,1565 ST PETERS AVENUE,2023.0,6.0,20.0,failure to file 2019 external low pressure ins...
19,4312462,2023-06-30,063023LBLVIO12503,LBLVIO,violation issued-failure to file 2020 external...,Active,40000037790Y0001,Boiler,12/31/2020,Queens,New York,New York,11363.0,40.773180,-73.741238,40-01 LITTLE NECK PARKWAY,2023.0,6.0,30.0,failure to file 2020 external low pressure ins...

In [27]:
new_vio_test['cleaned_comments'].replace('nan', 'Violation Remark not provided', inplace=True)

/tmp/ipykernel_33/2092939140.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_vio_test['cleaned_comments'].replace('nan', 'Violation Remark not provided', inplace=True)

In [28]:
#fix this by re running
#remove rows with  nulls and nans for full adress in both df

new_vio_test.head(5)

,BIN,Violation Issue Date,Violation Number,Violation Type,Violation Remarks,Violation Status,Device Number,Device Type,Cycle End Date,Borough,City,State,Postcode,Latitude,Longitude,full_add,Year,Month,Day,cleaned_comments
0,3116942,2006-01-06,010606LL629112840,LL6291,nan,Active,30000070181Y0001,Boiler,12/31/2005,Brooklyn,New York,New York,11226.0,40.651182,-73.952513,803 ROGERS AVENUE,2006.0,1.0,6.0,Violation Remark not provided
1,4233155,2013-03-01,030113LBLVIO15727,LBLVIO,violation issued for failure to file annual bo...,Active,40000054750N0001,Boiler,11/15/2011,Queens,New York,New York,11412.0,40.706401,-73.759408,198-03 HOLLIS AVENUE,2013.0,3.0,1.0,failure to file annual boiler 2011 inspection ...
2,3205018,2023-06-20,062023LBLVIO39206,LBLVIO,violation issued-failure to file 2019 external...,Active,30000041009Y0001,Boiler,12/31/2019,Brooklyn,New York,New York,11235.0,40.586050,-73.950924,1801 VOORHIES AVENUE,2023.0,6.0,20.0,failure to file 2019 external low pressure ins...
3,4238340,2006-01-06,010606LL629122660,LL6291,nan,Active,40000074513N0001,Boiler,12/31/2005,Queens,New York,New York,11412.0,40.693003,-73.757516,194-15 LINDEN BOULEVARD,2006.0,1.0,6.0,Violation Remark not provided
4,2021170,2023-06-20,062023LBLVIO31057,LBLVIO,violation issued-failure to file 2019 external...,Active,20000164250N0001,Boiler,12/31/2019,Bronx,New York,New York,10473.0,40.816277,-73.848467,486 HOWE AVENUE,2023.0,6.0,20.0,failure to file 2019 external low pressure ins...

In [144]:
df_combined.head()

,Complaint Number,Status,Date Entered,ZIP Code,BIN,Complaint Category,full_add,Year,Month,Day,COMPLAINT CATEGORY DESCRIPTION,PRIORITY
0,1000008,CLOSED,1989-01-03,10003,1006289,3,101 1 AVENUE,1989,1,3,Adjacent Buildings - Not Protected,A
1,1000009,CLOSED,1989-01-03,10003,1006289,1,101 1 AVENUE,1989,1,3,Accident - Construction/Plumbing,A
2,4000001,CLOSED,1989-01-03,11362,4171655,45,255-17 IOWA ROAD,1989,1,3,Illegal Conversion,B
3,1000017,CLOSED,1989-01-03,10013,1001966,31,179 WEST BROADWAY,1989,1,3,Certificate of Occupancy - None/Illegal/Contra...,C
4,1000022,CLOSED,1989-01-03,10010,1086544,46,133 EAST 22 STREET,1989,1,3,NaN,NaN

In [30]:
df_combined.to_csv('newcsv.csv',index=False)

In [31]:
new_vio_test.to_csv('violations.csv',index=False)

new_

In [32]:
new_vio_test.dtypes

BIN                              int64
Violation Issue Date    datetime64[ns]
Violation Number                object
Violation Type                  object
Violation Remarks               object
Violation Status                object
Device Number                   object
Device Type                     object
Cycle End Date                  object
Borough                         object
City                            object
State                           object
Postcode                       float64
Latitude                       float64
Longitude                      float64
full_add                        object
Year                           float64
Month                          float64
Day                            float64
cleaned_comments                object
dtype: object